<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="41dc9beb-86cd-423c-8948-2140cdd5fdb4" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="41dc9beb-86cd-423c-8948-2140cdd5fdb4fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
